{%extends 'base.html'%}
{%block body%}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{booking.services.image.url}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{booking.services.name}}</h5>
                                    <!-- Product price-->
                                    {{booking.services.cost}}
                                    <p>{{booking.services.description}}</p>
                                    <p>Category: {{booking.services.category}}</p>
                                     <form action="" method="post">
                                        {%csrf_token%}
                                        {{form.as_p}}



                                         <button type="submit" href="" class="btn btn-outline-success">Update</button>
                                     </form>
                                </div>
                            </div>

                        </div>
                    </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{%endblock%}