{%extends 'base.html'%}
{%block body%}
<!--message display-->
<!--carousel starts here-->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="customer\static\images\spaimage.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="customer\static\images\spa3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="customer\static\images\spa.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% comment %} Carousel ends here {% endcomment %}
<div class="text-center mt-10">
    <div class="row align-items-start">
      <div class="col"></div>
      <div class="col">
       <strong><h4>Our Exclusive Services</h4></strong>
      </div>
      <div class="col"></div>
</div>
{% comment %} Area to add Heading Ends Here {% endcomment %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
</ul>
{% endif %}
    </div>
    <div class="col-4"></div>
</div>
<!--Services-->
<div class="container-fluid">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {%for service in services%}

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Service image-->
                            <img class="card-img-top" src="{{service.image.url}}" alt="..." />
                            <!-- Service details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Service  name-->
                                    <h5 class="fw-bolder">{{service.name}}</h5>
                                    <!-- Product price-->
                                    <p><strong>Price: $ {{service.cost}}</strong></p>
                                    <!-- Product category-->
                                    <p><strong>Category: {{service.category}}</strong></p>
                                    <!-- Product rating-->
                                    <p><strong>Rating: {{service.rating}}</strong> </p>
                                    <!-- Product availability-->
                                    <strong>Duration: {{service.duration}} </strong>

                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{%url 'customer:book' service.id %}">Book</a>
                                </div>
                            </div>
                        </div>
                    </div>
        {%endfor%}
    </div>
</div>
<!--Categories-->
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            {%for category in services.category %}
            {{category_name}}

            {%endfor%}
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
</div>

{%endblock%}