{%extends 'base.html'%}
{%block body%}
{%if memberships%}
{%for membership in memberships%}
<div class="col-md-6 col-lg-4">
    <h6 class="mt-2 text-muted">{{membership.name}}</h6>
    <div class="card">
      <img class="card-img-top" src="../assets/img/elements/7.jpg" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="javascript:void(0)" class="card-link">Card link</a>
        <a href="javascript:void(0)" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
{%endfor%}
{%else%}
<div class="py-5">
    <div class="row justify-content-center mb-3">
      <center><strong>Sorry! No Memberships found at the moment</strong></center>
    </div>
</div>
{%endif%}
{%endblock%}