{%extends 'base.html'%}
{%block body%}
{% comment %} Nav side {% endcomment %}
<div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
  <form action="" method="post">
      {%csrf_token%}
      <label for="slots"><strong> Select the Category </strong></label>
      <input type="submit" name="slot" class="btn" value="All Services" 
      {%for category in categories%}
      <input type="submit" name="slot" class="btn" value="{{category.category_name}}" />
      {%endfor%}
  </form>
</div>


{% comment %} Side Nav end {% endcomment %}

{% comment %} Service card starts  {% endcomment %}
{%if services%}
{%for service in services%}

<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="{{service.image.url}}"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{service.name}}</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>{{service.rating}}</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>Qualified Beauticians</span>
                    <span class="text-primary"> • </span>
                    <span>One to One Care</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For men</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    {{service.description}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">${{service.cost}}</h4>
                    <span class="text-danger"><s>$99.99</s></span>
                  </div>
                  <h6 class="text-success">{{service.duration}} hrs</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  {%endfor%}
  {% comment %} Service card ends  {% endcomment %}
  {%else%}
  <div class="py-5">
    <div class="row justify-content-center mb-3">
      <center><strong>Sorry! Services not found for the selected category</strong></center>
    </div>
  </div>
{%endif%}
{%endblock%}