{%extends 'base1.html'%}
{%block body%}
<div class="content-wrapper">
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Timeslots / Manage Timeslots/</span> Add Timeslot</h4>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn btn-success">Add Timeslot</button>
    <a href="{%url 'manage-timeslots'%}" class="btn btn-outline-info">Cancel & Go back</a>
    
</form>
</div>
</div>
{%endblock%}