{%extends 'base1.html'%}
{%block body%}
<div class="card mb-4">
    <h5 class="card-header">Category Details</h5>
     <!-- Horizontal -->
     <h5 class="pb-1 mb-4">{{category.category_name}}</h5>
     <div class="row mb-5">
       <div class="col-md">
         <div class="card mb-3">
           <div class="row g-0">
             <div class="col-md-4">
              {%if category.image%}
               <img class="card-img card-img-left" src="{{category.image.url}}" alt="Card image" />
               {%else%}
               <p>No image added</p>
               {%endif%}
             </div>
             <div class="col-md-8">
               <div class="card-body">
                 <h5 class="card-title">Description</h5>
                 <p class="card-text">{{category.description}}</p>
                 <h5 class="card-title">Created</h5>
                 <p class="card-text"> {{category.created_date}}</p>
                 <h5 class="card-title">Status</h5>                
                 {%if category.status == True%}
                 <span class="badge bg-label-success me-1">Active</span>
                 {%else%}
                 <span class="badge bg-label-danger me-1">In-Active</span>
                 {%endif%}
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                 
               </div>
             </div>
           </div>
         </div>
       </div>
       
     <!--/ Horizontal -->
    
    </div>

          {%endblock%}
