{%extends 'base1.html'%}
{%block body%}
<div class="card mb-4">
    <h5 class="card-header">Gift Card Details</h5>
     <!-- Horizontal -->
     <h5 class="pb-1 mb-4">{{giftcard.name}}</h5>
     <div class="row mb-5">
       <div class="col-md">
         <div class="card mb-3">
           <div class="row g-0">
             <div class="col-md-4">
               <img class="card-img card-img-left" src="{{giftcard.image.url}}" alt="Card image" />
             </div>
             <div class="col-md-8">
               <div class="card-body">
                 <h5 class="card-title">Description</h5>
                 <p class="card-text">{{giftcard.desc}}</p>
                 <h5 class="card-title">Price</h5>
                 <p class="card-text">$ {{giftcard.price}}</p>
                 <h5 class="card-title">Status</h5>                
                 {%if giftcard.status == True%}
                 <span class="badge bg-label-success me-1">Active</span>
                 {%else%}
                 <span class="badge bg-label-danger me-1">In-Active</span>
                 {%endif%}
                 <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                 
               </div>
             </div>
           </div>
         </div>
       </div>
       
     <!--/ Horizontal -->
    
    </div>

          {%endblock%}